
.form-group {
    width: 100%;
    position: relative;
    margin: 10px auto;
}

.form-input {
    width: 100%;
    position: relative;
    padding: 0.781rem 1rem;
    border: 1px solid #D5D5D5;
    border-radius: 5px;
}

.form-label {
    position: absolute;
    top: 0.85rem;
    left: 1rem;
    transition: .2s;
    pointer-events: none;
}

.form-input:focus ~ .form-label,
.form-label.active {
    top: -0.65rem;
    background-color: #fff;
    padding: 0 5px;
    font-size: .9rem;
}