@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100% !important;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

p {
  line-height: 1.25rem;
}

.bg-primary {
  background-color: #E7699D;
  color: #FFF;
}

.color-primary {
  color: #E7699D;
}

.shadow-x {
  box-shadow: 10px 0px 15px -5px rgba(59, 16, 55, 0.2);
}

.bg-gradient-primary {
  background: rgb(231,105,157);
  background: linear-gradient(139deg, rgba(231,105,157,1) 0%, rgba(188,56,175,1) 100%);
}

.bg-pattern {
  background-image: url('../public/pattern_bg.png');
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
}

.shadow-lg-primary {
  box-shadow: 0 15px 15px -12px rgba(231, 105, 157, .35);
}

.bg-card-welcome {
  background-image: url('../public/bacground.svg');
  background-position: right;
  background-size: cover;
}

.btn-outline-primary {
  border: 1px solid #E7699D;
  color: #E7699D;
  padding: .65rem 1rem;
  font-weight: 700;
}